@font-face {
  font-family: trajanPro;
  src: url(../fonts/TrajanProRegular.ttf);
}
:root {
  /* fuentes */
  --Ftitulo: "trajanPro", serif;
  --Fsubtitulo: "DM Serif Text", serif;
  --Fgeneral: "Montserrat", sans-serif;
  --fgeneral2: "PT Serif", serif;
  /* colores  */
  --CGrisClaro: #ebe8e8;
  --Cblanco: #f5f5f7;
  --Cgris: #b7bbc7;
  --Cceleste: #20b9fc;
  --Cazul: #5632fa;
  --CNegro: #000000;
}
/* rem vale a 10px  */
html {
  font-size: 62.5%;
}
body {
  font-size: 16px;
}
/* generales */
* {
  margin: 0;
  padding: 0;
}
main {
  background-color: var(--CGrisClaro);
}
/* header  */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  width: 20rem;
}
.header_nav {
  display: flex;
  justify-content: space-evenly;
}
.header__link {
  text-transform: capitalize;
  text-decoration: none;
  color: var(--CNegro);
  font-family: var(--fgeneral2);
  font-size: 3rem;
  padding: 2rem;
  background-image: linear-gradient(to right, #20b9fc, #54b3d6 50%, #000 50%);
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
}
.header__link:before {
  content: "";
  background: var(--Cceleste);
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
}
.header__link:hover {
  background-position: 0;
}
.header__link:hover::before {
  width: 100%;
}
/* precentacion - banner  */
.presentacion {
  width: 100%;
  height: calc(100vh - 112.44px);
  background-image: url(../img/banner3.jpg);
  background-position-y: -50rem;
  background-repeat: no-repeat;
}
.presentacion__textos {
  width: 60rem;
  position: relative;
  top: 100px;
  left: 100px;
}
.presentacion__titulo {
  font-size: 12rem;
  margin: 0;
  color: var(--Cazul);
  font-family: var(--Ftitulo);
}
.presentacion__titulo span {
  font-size: 5.5rem;
}
.presentacion__matricula {
  color: red;
  text-align: end;
}
/*propiedades populares */
.propiedadesPopulares__targetas {
  display: flex;
  gap: 1rem;
  justify-content: center;
}
.propiedadesPopulares {
  text-align: center;
  padding: 0 5px;
}
.propiedadesPopulares h2 {
  font-family: var(--Fsubtitulo);
  font-weight: 200;
  font-size: 3rem;
  color: var(--Cceleste);
  text-transform: uppercase;
  padding: 1rem;
}
.casa {
  width: 200px;
  height: 250px;
  border: solid black 1px;
  border-radius: 1rem;
  background-color: var(--Cblanco);
}
.casa__nombre {
  padding: 0.5rem;
  margin-bottom: 5px;
  background-color: var(--Cgris);
  border-radius: 1rem 1rem 0 0;
}
.casa__slider {
  display: grid;
  grid-template-columns: 25px 1fr 30px;
  align-items: center;
}
.casa__imagenes {
  grid-column: 2/3;
  grid-row: 1/2;

  pointer-events: none;
  display: grid;
  background-color: #f2f2f2;
  grid-template-columns: 1fr max-content;
  align-items: center;
  transition: opacity 1.5s;
}
.casa__img {
  grid-column: 1/3;
  grid-row: 1/2;
  max-width: 150px;
  max-height: 150px;
  opacity: 0;
}
.casa__img--show {
  opacity: 1;
  pointer-events: unset;
}
.casa__arrow {
  cursor: pointer;
  padding: 30px 0;
  background-color: var(--Cblanco);
}
.casa__arrow:nth-of-type(2) {
  justify-self: end;
}
.casa__informacion {
  text-transform: capitalize;
  font-family: var(--fgeneral2);
  padding: 1rem;
}
.casa__informacion-ubi {
  padding: 1.5px;
}
.casa__mas-info a {
  padding: 1rem;
  margin-top: 10px;
  text-decoration: none;
  color: var(--CNegro);
  display: block;
}
.casa__mas-info:hover {
  background-color: var(--Cgris);
  border-radius: 50px;
}
/*mapas de propiedades*/
.mapaDePropiedades {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  padding: 2rem 0;
}
.mapaDePropiedades-titulo {
  font-size: 2.5rem;
  padding: 2rem;
  font-family: var(--Fsubtitulo);
  color: var(--Cceleste);
  text-transform: uppercase;
}
/*footer*/
.footer {
  background-color: var(--CGrisClaro);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.footer-nav {
  grid-column: 1 / 3;
  text-align: center;
  background-color: var(--Cblanco);
}
.footer__navegacion {
  display: flex;
  justify-content: space-evenly;
}
.footer__navegacion-links {
  text-transform: capitalize;
  text-decoration: none;
  color: var(--CNegro);
  font-family: var(--fgeneral2);
  font-size: 2rem;
  padding: 2rem;
  background-image: linear-gradient(to right, #b7bbc7, #b7bbc7 50%, #000 50%);
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
}
.footer__navegacion-links:before {
  content: "";
  background: var(--Cgris);
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
}
.footer__navegacion-links:hover {
  background-position: 0;
}
.footer__navegacion-links:hover::before {
  width: 100%;
}
/* footer informacion  */
.footer__informacion {
  display: flex;
  column-gap: 3rem;
  justify-content: center;
}
.footer__infomarcion-titulo {
  padding: 1.5rem;
}
.footer__redes__links,
.footer__contactos-liks {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  padding: 1rem;
  align-items: end;
}
.footer__links-info {
  color: var(--CNegro);
  text-decoration: none;
  padding: 1rem 2rem;
  border-radius: 5px;
  width: 10rem;
  text-align: end;
  background-repeat: no-repeat;
  background-size: 3.7rem;
  font-family: var(--Fgeneral);
  font-size: 1.5rem;
}
.Redes__sociales-facebook {
  background-image: url(../img/logo-faceboock.png);
}
.redes__sociales-instagram {
  background-image: url(../img/logo-instagram.png);
}
.footer__contacto-cel {
  background-image: url(../img/logo-whatsapp.png);
}
.footer__contacto-tel {
  background-image: url(../img/logo-phone.png);
}
.footer__ubicacion {
  text-align: center;
}
.footer__ubicacion-title {
  padding: 1.5rem;
}
.creador {
  display: flex;
  justify-content: space-evenly;
}
.creador p {
  font-family: var(--Fsubtitulo);
  font-weight: 400;
}
.creador img {
  width: 2rem;
}
